{% extends '@DaanFizzBuzz/layout.html.twig' %}

{% block body %}
    <div class="row fizzbuzzer">
        <div class="col-xs-6 fizzbuzzform">
            {{ form_start(form) }}
            {{ form_row(form.word1) }}
            {{ form_row(form.number1) }} 
            {{ form_row(form.word2) }}   
            {{ form_row(form.number2) }}
            {{ form_row(form.start) }}
            {{ form_row(form.end) }}
            <input type="submit" class="btn btn-default"/>
            {{ form_widget(form.reset, {attr:  {'class': 'btn-default'}}) }}
            {{ form_end(form) }}
        </div>
        <div class="col-xs-6 fizzbuzzprint">
            <ul>
            {% for element in fizz_buzz %}
            <li>{{ element }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src='asset/js/fizzbuzzfade.js'></script>
{% endblock %}